* {
  margin: 0;
  padding: 0; }

body {
  background: #232323;
  font-family: "Montserrat", sans-serif;
  color: #94a1b2; }
  body .general {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: "sidebar globalContent" "bottomNav bottomNav"; }
  body .topNav {
    grid-area: topNav; }
  body .bottomNav {
    grid-area: bottomNav; }
  body .globalContent {
    grid-area: globalContent; }
  body .wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: "header  header" "content  content" "space footer_head" "cards cards";
    color: #151515; }
  body .accent {
    color: #ff8906; }
  body section {
    padding: 50px; }
  body .box {
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
    padding: 0 50px;
    font-size: 150%; }
  body .topleft {
    position: absolute;
    top: 0;
    left: 0; }
  body .topright {
    position: absolute;
    top: 0;
    right: 0; }
  body .bottomleft {
    position: absolute;
    bottom: 0;
    left: 0; }
  body .bottomright {
    position: absolute;
    bottom: 0;
    right: 0; }
  body .accent {
    color: #ff8906; }
  body .sidebar, body .sidebarBottom {
    width: 15vw; }

.header {
  grid-area: header; }
  .header .banner_logo {
    float: left;
    font-weight: 900;
    font-size: 30px; }
  .header .menu {
    float: right;
    font-size: 15px; }
  .header .btn {
    color: #ff8906;
    border: 2px solid #ff8906;
    background: transparent;
    padding: 10px;
    border-radius: 5px; }

.sidebar {
  grid-area: sidebar;
  grid-template-rows: repeat(12, 1fr);
  position: sticky;
  top: 0;
  height: 100vh; }
  .sidebar ul {
    text-decoration: none;
    text-transform: none; }
    .sidebar ul li {
      list-style-type: none;
      margin: 45px 5px;
      font-size: 16px;
      font-weight: 800; }

.content {
  grid-area: content;
  padding-top: 0px !important; }
  .content h1 {
    font-size: 2em;
    text-transform: capitalize;
    max-width: 80%; }

.social {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: "space footer_head" "sidebarBottom cards";
  background: #121212;
  min-height: 100vh; }
  .social .contact {
    grid-area: contact;
    bottom: 0; }
  .social ul {
    text-decoration: none;
    text-transform: none; }
    .social ul li {
      list-style-type: none;
      margin: 45px 5px;
      font-size: 16px;
      font-weight: 800; }
  .social .cards {
    grid-area: cards; }
    .social .cards .card_list {
      margin-top: 70px;
      display: grid;
      grid-gap: 1em;
      grid-template-columns: repeat(3, auto); }
    .social .cards img {
      background: #ff8906;
      border-radius: 100%;
      align-items: center;
      margin-bottom: 50px; }
    .social .cards .card {
      display: inline-block;
      background: #151515;
      max-width: 17vw;
      padding: 15px;
      margin: 5px;
      border-radius: 5px;
      text-align: center; }
      .social .cards .card .card-title {
        font-size: 1.8em; }
      .social .cards .card .card-text {
        font-size: 0.65em;
        padding-bottom: 15px;
        color: #94a1b2;
        text-align: left; }
        .social .cards .card .card-text .title {
          font-size: 1.2em;
          margin-bottom: 10px;
          font-weight: 600;
          color: #fffffe; }
  .social .space {
    grid-area: space; }
  .social .sidebarBottom {
    grid-area: sidebarBottom; }
  .social .footer_head {
    grid-area: footer_head;
    height: 200px; }
    .social .footer_head h2 {
      font-size: 1.4em;
      margin: 40px 20px;
      max-width: 70%;
      line-height: 70px; }
    .social .footer_head a {
      text-decoration: none;
      font-size: 0.8em;
      margin: 25px;
      color: #ff8906; }
  .social .footer {
    color: #444;
    background: #232323;
    grid-area: footer; }

.desgDev {
  margin-top: 30px; }
  .desgDev .nodes {
    padding: 40px;
    display: grid;
    grid-gap: 10px;
    grid-template-areas: "_head " " _body"; }
    .desgDev .nodes ._head {
      color: #fffffe;
      font-weight: 900;
      text-transform: capitalize;
      width: 20vw; }
    .desgDev .nodes ._body {
      color: #94a1b2;
      line-height: 25px;
      max-width: 70vh;
      font-size: 0.8em; }
  .desgDev .nodes:hover {
    background: #ff8906;
    border-radius: 5px;
    transition: 0.4s;
    width: 40vw; }
    .desgDev .nodes:hover ._head {
      color: #232323; }
    .desgDev .nodes:hover ._body {
      color: #232323; }

.skills {
  margin-top: 2em; }
  .skills .skillsCards {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: "left  right"; }
    .skills .skillsCards .left {
      grid-area: left; }
    .skills .skillsCards .right {
      grid-area: right;
      padding-top: 50px; }
    .skills .skillsCards .card {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 15px;
      border-radius: 10px; }
      .skills .skillsCards .card .card-img img {
        height: auto;
        width: 100%;
        min-height: 25vh;
        border-radius: 1px;
        filter: blur(0.85px); }
      .skills .skillsCards .card .card-text {
        padding: 10px;
        position: absolute;
        align-content: center;
        align-items: center;
        text-align: center;
        font-weight: bold;
        border-radius: 5px;
        background: rgba(255, 137, 6, 0.58); }

/*# sourceMappingURL=css.css.map */
